* {
  /* border: 2px solid red; */
}

@font-face {
  font-family: logo-font;
  src: url(../../links/fonts/Norse-Bold.otf);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

p {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
}

p, label, .credit, .credit-link, button {
  font-family: sans-serif;
}

button {
  background-color: #596D48;
  color: white;
  width: 35%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  margin-bottom: 2%;
}

input {
  width: 150%;
  height: 75%;
  border-radius: 5px;
  border-color: lightgray;
}

label {
  font-size: .8rem;
  color: darkslategray;
}

label, input {
  display: flex;
  flex-direction: column;
}

.page-left {
  background-image: url("../../links/img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-right {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10px;
  justify-content: center;
  
}

.page-right>div {
  padding-left: 3%;
}

.logo-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  width: auto;
  height: 15vh;
  justify-content: center;
  top: 25%;
  align-items: center;
}

.logo-text {
  position: relative;
  color: white;
  opacity: 1;
  font-size: 4vw;
  font-family: logo-font, sans-serif;
}

.logo-img {
  position: relative;
  width: auto;
  height: clamp(4vw, 75%, 15vw);
  opacity: 1;
}

.credit {
  color: white;
  text-align: center;
  font-size: 1rem;
}

.credit-link {
  color: white;
}

.account-form {
  box-shadow: 0px 4px 5px #888, 0px -2px 5px #888;
  padding-left: 0px;
  padding-bottom: 3%;
  height: 35%;
  position: relative;
  bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.login {
  color: #596D48;
  text-decoration: none;
}

.login-text {
  font-size: 1.1rem;
}

.describer_text {
  margin-right: 20%;
  position: relative;
  bottom: 10%;
}

.form-row {
  display: flex;
  gap: 15%;
}

.form-element {
  margin-right: 10%;
}

.form-text {
  margin-bottom: 0;
}